# {{_(ZhTwEnum.RESONATOR)}}

<div class="wuwa-container">
    <div class="wuwa-flex-wrap">
        {% for name in resonator_names %}
        <a href="{{get_resonator_outline_url(name)}}">
            <img class="wuwa-resonator-outline-icon" src="{{get_resonator_icon_url(name)}}" title="{{name}}" />
        </a>
        {% endfor %}
    </div>
</div>