# {{_(ZhTwEnum.RESONATOR)}}

## {{_(ZhTwEnum.DAMAGE_ANALYSIS)}}

<div class="wuwa-container">
    <div class="wuwa-flex-wrap">
        {% for name in calculated_resonator_names %}
        {% set no = get_resonator_information(name).no %}
        <a href="{{get_resonator_outline_url(no)}}">
            <img class="wuwa-resonator-outline-icon" src="{{get_resonator_icon_url(name)}}" title="{{name}}" />
        </a>
        {% endfor %}
    </div>
</div>

## {{_(ZhTwEnum.RESONATOR_SKILL_DATA)}}

<div class="wuwa-container">
    <div class="wuwa-flex-wrap">
        {% for name in resonator_names %}
        {% set no = get_resonator_information(name).no %}
        <a href="{{get_resonator_outline_url(no)}}">
            <img class="wuwa-resonator-outline-icon" src="{{get_resonator_icon_url(name)}}" title="{{name}}" />
        </a>
        {% endfor %}
    </div>
</div>