<div class="container">
  <div class="table">
    {{table_html}}
  </div>
</div>

<style>
  body {
    color: rgb(240, 240, 240);
    width: 1900px;
  }

  div.table {
    display: flex;
    margin-top: 12px;
  }

  div.container {
    background-color: rgb(8, 12, 20);
    border-radius: 8px;
    border: 4px solid;
    color: rgb(16, 24, 40);
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 1280px;
  }

  table {
    width: 100%;
    margin-right: 12px;
    border-radius: 8px;
    border-color: rgb(240, 240, 240);
    border: 2px solid;
  }

  th {
    padding: 0px 12px;
    border: 1px solid rgb(240, 240, 240);
    border-collapse: collapse;
    font-size: 24px;
  }

  td {
    padding: 0px 12px;
    border: 1px solid rgb(240, 240, 240);
    border-collapse: collapse;
    font-size: 24px;
  }

  tr {
    border: 1px solid rgb(240, 240, 240);
    border-collapse: collapse;
    font-size: 24px;
  }
</style>