# {{template.id}}

## {{_(ZhTwEnum.INFORMATION)}}

### {{_(ZhTwEnum.RESONATOR)}}

<div class="wuwa-container">
  <table class="wuwa wuwa-w100p wuwa-white">
    <tr>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.CHARACTER_NAME)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.RESONANCE_CHAIN)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.WEAPON_NAME)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.TUNE)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.BASE_ATTR)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.MAIN_SKILL_BONUS)}}</td>
    </tr>
    {% for resonator in template.resonators -%}
    {% if resonator.resonator_name -%}
    <tr>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_name %}
        {{resonator.resonator_name}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_chain %}
        {{resonator.resonator_chain}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_weapon_name %}
        {{resonator.resonator_weapon_name}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_weapon_rank %}
        {{resonator.resonator_weapon_rank}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_base_attr %}
        {{resonator.resonator_base_attr}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_skill_bonus %}
        {{resonator.resonator_skill_bonus}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>

### {{_(ZhTwEnum.ECHO)}}

<div class="wuwa-container">
  <table class="wuwa wuwa-w100p wuwa-white">
    <tr>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.CHARACTER_NAME)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_1)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_1)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_2)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_3)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_4)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_5)}}</td>
    </tr>
    {% for resonator in template.resonators -%}
    {% if resonator.resonator_name -%}
    <tr>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_name %}
        {{resonator.resonator_name}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_echo_1 %}
        {{resonator.resonator_echo_1}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_echo_sonata_1 %}
        {{resonator.resonator_echo_sonata_1}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_echo_sonata_2 %}
        {{resonator.resonator_echo_sonata_2}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_echo_sonata_3 %}
        {{resonator.resonator_echo_sonata_3}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_echo_sonata_4 %}
        {{resonator.resonator_echo_sonata_4}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if resonator.resonator_echo_sonata_5 %}
        {{resonator.resonator_echo_sonata_5}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>

## {{_(ZhTwEnum.DAMAGE_ANALYSIS)}}

### {{_(ZhTwEnum.ECHO_CONFIGURATION)}}

#### [{{_(ZhTwEnum.ECHOES_THEORY_1)}}](/simulated_echo/index.html)

{% set _prefix = "theory_1" -%}
- [{{_(ZhTwEnum.DAMAGE_ANALYSIS)}}]({{get_damage_analysis_url(template.get_md5(), _prefix)}})
{% for no, name in echo_comparisons -%}
{% set _url = get_echo_damage_comparison_url(template.get_md5(), "theory_1", no) -%}
- [{{name}} {{_(ZhTwEnum.ECHO_DAMAGE_COMPARISON)}}]({{_url}})
{% endfor %}

#### [{{_(ZhTwEnum.ECHOES_HALF_BUILT_ATK)}}](/simulated_echo/index.html)

{% set _prefix = "half_built_atk" -%}
- [{{_(ZhTwEnum.DAMAGE_ANALYSIS)}}]({{get_damage_analysis_url(template.get_md5(), _prefix)}})
{% for no, name in echo_comparisons -%}
{% set _url = get_echo_damage_comparison_url(template.get_md5(), "half_built_atk", no) -%}
- [{{name}} {{_(ZhTwEnum.ECHO_DAMAGE_COMPARISON)}}]({{_url}})
{% endfor %}

#### [{{_(ZhTwEnum.ECHOES_HALF_BUILT_SKILL_BONUS)}}](/simulated_echo/index.html)

{% set _prefix = "half_built_skill_bonus" -%}
- [{{_(ZhTwEnum.DAMAGE_ANALYSIS)}}]({{get_damage_analysis_url(template.get_md5(), _prefix)}})
{% for no, name in echo_comparisons -%}
{% set _url = get_echo_damage_comparison_url(template.get_md5(), "half_built_skill_bonus", no) -%}
- [{{name}} {{_(ZhTwEnum.ECHO_DAMAGE_COMPARISON)}}]({{_url}})
{% endfor %}

## {{_(ZhTwEnum.OUTPUT_METHOD)}}

<div class="wuwa-container wuwa-margin-bottom-16">
  {% for output_method in output_methods %}
  <div class="wuwa-rows {{'wuwa-margin-bottom' if loop.index < output_methods|length}}">
    <div class="wuwa-left-row">
      <div class="wuwa-resonator-output-method-icon">
        <img class="wuwa-resonator-output-method-icon" src="{{output_method.resonator_src}}" />
      </div>
    </div>
    <div class="wuwa-right-row">
      <div class="wuwa-actions">
        {% for action in output_method.actions %}
        <div class="wuwa-action">
          <div class="wuwa-action-text">
            {{action.name}}
          </div>
          {% if action.src != "" %}
          <img class="wuwa-action-icon" src="{{action.src}}" />
          {% endif %}
          <img class="wuwa-action-next" src="{{right_arrow_src}}" />
        </div>
        {% endfor %}
      </div>
      {% for comment in output_method.comments %}
      <div class="wuwa-comments">
        <div class="wuwa-comment">
          {{comment}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="wuwa-container">
  <table class="wuwa wuwa-w100p wuwa-white">
    <tr>
      <td class="wuwa wuwa-px16 wuwa-py4 wuwa-w25p">{{_(ZhTwEnum.CHARACTER_NAME)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4 wuwa-w25p">{{_(ZhTwEnum.ACTION)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4 wuwa-w25p">{{_(ZhTwEnum.TIME_START)}}</td>
      <td class="wuwa wuwa-px16 wuwa-py4 wuwa-w25p">{{_(ZhTwEnum.TIME_END)}}</td>
    </tr>
    {% for output_method in output_methods %}
    {% for action in output_method.actions %}
    <tr>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if loop.index > 1 %}
        &nbsp;
        {% else %}
        {{output_method.resonator_name}}
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4 wuwa-gray-80-80-80">
        {% if action.name %}
        {{action.name}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if action.time_start %}
        {{action.time_start}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td class="wuwa wuwa-px16 wuwa-py4">
        {% if action.time_end %}
        {{action.time_end}}
        {% else %}
        &nbsp;
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</div>