# {{template.id}}

## {{_(ZhTwEnum.OUTPUT_METHOD)}}

<div class="wuwa-container">
  {% for output_method in output_methods %}
  <div class="wuwa-rows {{'wuwa-margin-bottom' if loop.index < output_methods|length}}">
    <div class="wuwa-left-row">
      <div class="wuwa-resonator-output-method-icon">
        <img class="wuwa-resonator-output-method-icon" src="{{output_method.resonator_src}}" />
      </div>
    </div>
    <div class="wuwa-right-row">
      <div class="wuwa-actions">
        {% for action in output_method.actions %}
        <div class="wuwa-action">
          <div class="wuwa-action-text">
            {{action.name}}
          </div>
          {% if action.src != "" %}
          <img class="wuwa-action-icon" src="{{action.src}}" />
          {% endif %}
          <img class="wuwa-action-next" src="{{right_arrow_src}}" />
        </div>
        {% endfor %}
      </div>
      {% for comment in output_method.comments %}
      <div class="wuwa-comments">
        <div class="wuwa-comment">
          {{comment}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

## {{_(ZhTwEnum.DAMAGE_ANALYSIS)}}

### 聲骸配置

#### [{{_(ZhTwEnum.ECHOES_THEORY_1)}}](/simulated_echo/index.html)

- [{{_(ZhTwEnum.DAMAGE_ANALYSIS)}}](/resonator/template/{{template.get_md5()}}/theory_1/damage_analysis/index.html)
- [{{_(ZhTwEnum.ECHO_DAMAGE_COMPARISON)}}](/resonator/template/{{template.get_md5()}}/theory_1/echo_damage_comparison/index.html)

#### [{{_(ZhTwEnum.ECHOES_HALF_BUILT_ATK)}}](/simulated_echo/index.html)

- [{{_(ZhTwEnum.DAMAGE_ANALYSIS)}}](/resonator/template/{{template.get_md5()}}/half_built_atk/damage_analysis/index.html)
- [{{_(ZhTwEnum.ECHO_DAMAGE_COMPARISON)}}](/resonator/template/{{template.get_md5()}}/half_built_atk/echo_damage_comparison/index.html)