<div class="wuwa-container">
  <div class="wuwa-flex-col">
    <div class="wuwa-barh">
      <div class="wuwa-flex-col">
        {% for resonator_skill_damage_distribution in resonator_skill_damage_distributions %}
        {% set label = resonator_skill_damage_distribution[0] %}
        {% set damage_distribution = resonator_skill_damage_distribution[1] %}
        {% set r_damage_distribution = damage_distribution.resonators[resonator.resonator_name] %}
        {% set resonator_name = resonator.resonator_name %}
        <div class="wuwa-barh-row">
          <div class="wuwa-barh-resonator-icon">
            <img src="{{r.resonator_src}}" />
          </div>
          <div class="wuwa-barh-damage-container">
            <div class="wuwa-barh-title">
              <div class="wuwa-barh-resonator-id">{{r_damage_distribution.resonator_id}}</div>
              {% if label %}
              <div class="wuwa-barh-template-info">
                {{_(ZhTwEnum.TEMPLATE_ID)}}: {{damage_distribution.template_id}} ({{label}})
              </div>
              {% else %}
              <div class="wuwa-barh-template-info">{{_(ZhTwEnum.TEMPLATE_ID)}}:
                {{damage_distribution.template_id}}
              </div>
              {% endif %}
              <div class="wuwa-barh-template-info">{{_(ZhTwEnum.MONSTER_ID)}}:
                {{damage_distribution.monster_id}}</div>
            </div>
            <div class="wuwa-barh-damage-100">
              {% set element = get_element_class_name(r.element) %}
              {% set percentage = r_damage_distribution.damage / resonator_skill_max_damage %}
              {% set in_out = 0.5 %}
              {% set black_elements = ['aero', 'spectro'] %}
              <div class="wuwa-barh-damage wuwa-bg-{{element}}"
                style="width: {{get_percentage_str(damage_distribution.resonators[resonator_name].damage, resonator_skill_max_damage)}};">
                {% if percentage >= in_out %}
                <div class="wuwa-barh-damage-value-in {{'wuwa-black' if element in black_elements else 'wuwa-white'}}">
                  {{to_number_string(r_damage_distribution.damage)}}
                  ({{get_percentage_str(r_damage_distribution.damage, resonator_skill_base_damage)}})
                </div>
                {% endif %}
              </div>
              {% if percentage < in_out %} <div class="wuwa-barh-damage-value-out">
                {{to_number_string(r_damage_distribution.damage)}}
                ({{get_percentage_str(r_damage_distribution.damage, resonator_skill_base_damage)}})
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>