# {{_(ZhTwEnum.DAMAGE_ANALYSIS)}}

## {{_(ZhTwEnum.TEAM_DAMAGE_DISTRIBUTION)}}
<div class="wuwa-container">
  <div class="wuwa-flex-col">
    <div class="wuwa-barh">
      <div class="wuwa-flex-col">
        {% if damage_distribution.template_id %}
        <div class="wuwa-barh-id">{{damage_distribution.template_id}} | {{damage_distribution.monster_id}}</div>
        {% endif %}
        {% if damage_distribution.damage and damage_distribution.duration_1 and damage_distribution.duration_2 %}
        <div class="wuwa-barh-dps">
          DPS: {{damage_distribution.get_min_dps_string()}} ~ {{damage_distribution.get_max_dps_string()}}
          ({{damage_distribution.duration_1}}s ~ {{damage_distribution.duration_2}}s)
        </div>
        {% endif %}
        {% for resonator in template.resonators %}
        {% set resonator_name = resonator.resonator_name %}
        {% set r = merge_resonator_model(resonator_name, resonators_table, calculated_resonators_table, is_docs=True) %}
        <div class="wuwa-barh-row">
          <div class="wuwa-barh-resonator-icon">
            <img src="{{r.resonator_src}}" />
          </div>
          <div class="wuwa-barh-damage-container">
            {% set element = get_element_class_name(r.element) %}
            {% set team_resonator_damages = get_team_resonator_damages(damage_distribution) %}
            {% set max_damage = get_max_damage(team_resonator_damages) %}
            {% set percentage = damage_distribution.resonators[resonator_name].damage / max_damage %}
            {% set in_out = 0.3 %}
            {% set black_elements = ['aero', 'spectro'] %}
            <div class="wuwa-barh-damage wuwa-bg-{{element}}"
              style="width: {{get_percentage_str(damage_distribution.resonators[resonator_name].damage, max_damage)}};">
              {% if percentage >= in_out %}
              <div class="wuwa-barh-damage-value-in {{'wuwa-black' if element in black_elements else 'wuwa-white'}}">
                {{resonator_name}}
                {{damage_distribution.get_damage_string_with_percentage(resonator_name)}}
              </div>
              {% endif %}
            </div>
            {% if percentage < in_out %} <div class="wuwa-barh-damage-value-out">{{resonator_name}}
              {{damage_distribution.get_damage_string_with_percentage(resonator_name)}}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

{% for resonator in template.resonators %}
## {{resonator.resonator_name}}
{% set r = merge_resonator_model(resonator.resonator_name, resonators_table, calculated_resonators_table, is_docs=True)
%}
<div class="wuwa-container">
  <div class="wuwa-resonator-info-title">
    <div class="wuwa-resonator-info-row-cell">
      <img class="wuwa-resonator-info-icon" src="{{r.resonator_src}}" />
    </div>
    <div class="wuwa-resonator-info-row-cell wuwa-resonator-info-row-cell-padding">
      <div class="wuwa-resonator-info">{{r.name}}</div>
      <img class="wuwa-resonator-info-icon" src="{{r.element_src}}" />
      <div class="wuwa-resonator-info">{{r.element}}</div>
    </div>
    <div class="wuwa-resonator-info-row-cell wuwa-resonator-info-row-cell-padding">
      <div class="wuwa-resonator-info">{{_(ZhTwEnum.CHAIN)}} {{r.chain}}</div>
    </div>
    <div class="wuwa-resonator-info-row-cell wuwa-resonator-info-row-cell-padding">
      <div class="wuwa-resonator-info">{{r.weapon_name}}</div>
      <div class="wuwa-resonator-info">
        LV{{r.weapon_level}}&nbsp;&nbsp;{{_(ZhTwEnum.TUNE)}} {{r.weapon_rank}}
      </div>
    </div>
  </div>
  <div class="wuwa-resonator-info-table">
    <table class="wuwa-resonator-info-table wuwa-margin-right-12">
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.LEVEL)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.level}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HP)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.hp}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ATK)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.attack}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.DEF)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.defense}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.CRIT_RATE)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.crit_rate)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.CRIT_DMG)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.crit_dmg)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ENERGY_REGEN)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.energy_regen)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.RESONANCE_SKILL_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.resonance_skill_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.BASIC_ATTACK_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.basic_attack_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HEAVY_ATTACK_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.heavy_attack_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.RESONANCE_LIBERATION_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.resonance_liberation_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HEALING_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.healing_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.PHYSICAL_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.physical_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.GLACIO_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.glacio_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.FUSION_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.fusion_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ELECTRO_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.electro_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.AERO_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.aero_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.SPECTRO_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.spectro_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HAVOC_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.havoc_dmg_bonus)}}</td>
      </tr>
    </table>
    <table class="wuwa-resonator-info-table">
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.PHYSICAL_DMG_RES)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.physical_dmg_res)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.GLACIO_DMG_RES)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.glacio_dmg_res)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.FUSION_DMG_RES)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.fusion_dmg_res)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ELECTRO_DMG_RES)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.electro_dmg_res)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.AERO_DMG_RES)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.aero_dmg_res)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.SPECTRO_DMG_RES)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.spectro_dmg_res)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HAVOC_DMG_RES)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r.havoc_dmg_res)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.NORMAL_ATTACK_LV)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.normal_attack_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.RESONANCE_SKILL_LV)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.resonance_skill_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.FORTE_CIRCUIT_LV)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.forte_circuit_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.RESONANCE_LIBERATION_LV)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.resonance_liberation_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.INTRO_SKILL_LV)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.intro_skill_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.INHERENT_SKILL_1)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.inherent_skill_1}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.INHERENT_SKILL_2)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r.inherent_skill_2}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
### {{_(ZhTwEnum.ECHO)}}
{% set r_echo = calculated_resonators_table.get_calculated_resonator_model(resonator.resonator_name) %}
<div class="wuwa-container">
  <div class="wuwa-resonator-info-table">
    <table class="wuwa-resonator-info-table wuwa-margin-right-12">
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HP)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r_echo.echo_hp}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HP_P)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_hp_p)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ATK)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r_echo.echo_atk}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ATK_P)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_atk_p)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.DEF)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r_echo.echo_def}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.DEF_P)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_def_p)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.CRIT_RATE)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_crit_rate)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.CRIT_DMG)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_crit_dmg)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ENERGY_REGEN)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_energy_regen)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ECHO_1)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{template.get_echo_1(resonator.resonator_name)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ECHO_SONATA_1)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r_echo.echo_sonata_1}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ECHO_SONATA_2)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r_echo.echo_sonata_2}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ECHO_SONATA_3)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r_echo.echo_sonata_3}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ECHO_SONATA_4)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r_echo.echo_sonata_4}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ECHO_SONATA_5)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{r_echo.echo_sonata_5}}</td>
      </tr>
    </table>
    <table class="wuwa-resonator-info-table">
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.RESONANCE_SKILL_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_resonance_skill_dmg_bonus)}}
        </td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.BASIC_ATTACK_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_basic_attack_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HEAVY_ATTACK_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_heavy_attack_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.RESONANCE_LIBERATION_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">
          {{to_percentage_str(r_echo.echo_resonance_liberation_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HEALING_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_healing_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.GLACIO_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_glacio_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.FUSION_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_fusion_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.ELECTRO_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_electro_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.AERO_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_aero_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.SPECTRO_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_spectro_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">{{_(ZhTwEnum.HAVOC_DMG_BONUS)}}</td>
        <td class="wuwa-resonator-info-td" align="right">{{to_percentage_str(r_echo.echo_havoc_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa-resonator-info-td">&nbsp;</td>
        <td class="wuwa-resonator-info-td" align="right">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
### {{_(ZhTwEnum.SKILL_DAMAGE_DISTRIBUTION)}}
{% set resonator_damage_distribution = damage_distribution.resonators[resonator.resonator_name] %}
<div class="wuwa-container">
  <div class="wuwa-flex-col">
    <div class="wuwa-barh">
      <div class="wuwa-flex-col">
        <div class="wuwa-barh-row wuwa-margin-bottom-24">
          <div class="wuwa-barh-resonator-icon">
            <img src="{{r.resonator_src}}" />
          </div>
          <div class="wuwa-flex-col">
            <div class="wuwa-barh-id">{{resonator_damage_distribution.resonator_id}}</div>
            <div class="wuwa-barh-id-gray">{{_(ZhTwEnum.TEMPLATE_ID)}}:
              {{damage_distribution.template_id}}</div>
            <div class="wuwa-barh-id-gray">{{_(ZhTwEnum.MONSTER_ID)}}:
              {{damage_distribution.monster_id}}</div>
          </div>
        </div>
        {% for e in ResonatorSkillTypeEnum %}
        <div class="wuwa-barh-row wuwa-border-left">
          <div class="wuwa-barh-damage-100">
            {% set element = get_element_class_name(r.element) %}
            {% set damage = resonator_damage_distribution.get_damage(e.name.lower()) %}
            {% set base_damage = get_resonator_skill_base_damage(resonator_damage_distribution, ResonatorSkillTypeEnum)
            %}
            {% set percentage = damage / base_damage %}
            {% set in_out = 0.4 %}
            {% set black_elements = ['aero', 'spectro'] %}
            <div class="wuwa-barh-damage wuwa-bg-{{element}}"
              style="width: {{get_percentage_str(damage, base_damage)}};">
              {% if percentage >= in_out %}
              <div class="wuwa-barh-damage-value-in {{'wuwa-black' if element in black_elements else 'wuwa-white'}}">
                {{e.value}}
                {{to_number_string(damage)}} ({{get_percentage_str(damage, base_damage)}})
              </div>
              {% endif %}
            </div>
            {% if percentage < in_out %} <div class="wuwa-barh-damage-value-out">
              {{e.value}}
              {{to_number_string(damage)}} ({{get_percentage_str(damage, base_damage)}})
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
### {{_(ZhTwEnum.SKILL_BONUS_DAMAGE_DISTRIBUTION)}}
{% set resonator_damage_distribution = damage_distribution.resonators[resonator.resonator_name] %}
<div class="wuwa-container">
  <div class="wuwa-flex-col">
    <div class="wuwa-barh">
      <div class="wuwa-flex-col">
        <div class="wuwa-barh-row wuwa-margin-bottom-24">
          <div class="wuwa-barh-resonator-icon">
            <img src="{{r.resonator_src}}" />
          </div>
          <div class="wuwa-flex-col">
            <div class="wuwa-barh-id">{{resonator_damage_distribution.resonator_id}}</div>
            <div class="wuwa-barh-id-gray">{{_(ZhTwEnum.TEMPLATE_ID)}}:
              {{damage_distribution.template_id}}</div>
            <div class="wuwa-barh-id-gray">{{_(ZhTwEnum.MONSTER_ID)}}:
              {{damage_distribution.monster_id}}</div>
          </div>
        </div>
        {% for e in SkillBonusTypeEnum %}
        <div class="wuwa-barh-row wuwa-border-left">
          <div class="wuwa-barh-damage-100">
            {% set element = get_element_class_name(r.element) %}
            {% set damage = resonator_damage_distribution.get_damage(e.name.lower()) %}
            {% set base_damage = get_resonator_skill_base_damage(resonator_damage_distribution, ResonatorSkillTypeEnum)
            %}
            {% set percentage = damage / base_damage %}
            {% set in_out = 0.4 %}
            {% set black_elements = ['aero', 'spectro'] %}
            <div class="wuwa-barh-damage wuwa-bg-{{element}}"
              style="width: {{get_percentage_str(damage, base_damage)}};">
              {% if percentage >= in_out %}
              <div class="wuwa-barh-damage-value-in {{'wuwa-black' if element in black_elements else 'wuwa-white'}}">
                {{e.value}}
                {{to_number_string(damage)}} ({{get_percentage_str(damage, base_damage)}})
              </div>
              {% endif %}
            </div>
            {% if percentage < in_out %} <div class="wuwa-barh-damage-value-out">
              {{e.value}}
              {{to_number_string(damage)}} ({{get_percentage_str(damage, base_damage)}})
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endfor %}

## {{_(ZhTwEnum.DETAILED_DAMAGE)}}
<div class="wuwa-container">
  <div class="wuwa-flex-col">
    {% for row in calculated_rows %}
    {% if row.resonator_name %}
    <div class="wuwa-flex-row wuwa-margin-bottom-8 {{'wuwa-margin-top-8' if loop.index > 1}}">
      {% set r = merge_resonator_model(row.resonator_name, resonators_table, calculated_resonators_table, is_docs=True)
      %}
      <div class="wuwa-barh-resonator-icon">
        <img src="{{r.resonator_src}}" />
      </div>
      <div class="wuwa-detailed-damage-row-text">
        {{row.resonator_name}}
      </div>
      <div class="wuwa-detailed-damage-row-text wuwa-detailed-damage-row-text-w100">
        {{_(ZhTwEnum.NO)}}{{loop.index}}{{_(ZhTwEnum.ROW)}}
      </div>
    </div>
    <div class="wuwa-flex-row wuwa-margin-bottom-8 wuwa-philippine-gray">
      {{_(ZhTwEnum.SKILL)}}
    </div>
    <div class="wuwa-flex-row wuwa-margin-bottom-8">
      <table class="wuwa-detailed-damage">
        <tr>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.ACTION)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.SKILL)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.BUFF_SKILL_TYPE)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.HITS)}}</td>
        </tr>
        <tr>
          <td class="wuwa-detailed-damage">
            {% if row.action %}
            {{row.action}}
            {% else %}
            &nbsp;
            {% endif %}
          </td>
          <td class="wuwa-detailed-damage">
            {% if row.skill_id %}
            {{row.skill_id}}
            {% else %}
            &nbsp;
            {% endif %}
          </td>
          <td class="wuwa-detailed-damage">
            {% if row.resonator_skill_type_bonus %}
            {{row.resonator_skill_type_bonus}}
            {% else %}
            &nbsp;
            {% endif %}
          </td>
          <td class="wuwa-detailed-damage">
            {% if row.hits %}
            {{row.hits}}{{_(ZhTwEnum.HIT)}}
            {% else %}
            &nbsp;
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    {% if row.real_dmg_no_crit or row.real_dmg_crit or row.damage_no_crit or row.damage_crit %}
    <div class="wuwa-flex-row wuwa-margin-bottom-8 wuwa-philippine-gray">
      {{_(ZhTwEnum.DAMAGE)}}
    </div>
    <div class="wuwa-flex-row wuwa-margin-bottom-8">
      <table class="wuwa-detailed-damage">
        <tr>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REAL_DMG_NO_CRIT)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.CALCULATED_DMG_NO_CRIT)}}
          </td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REAL_DMG_CRIT)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.CALCULATED_DMG_CRIT)}}</td>
        </tr>
        <tr>
          <td class="wuwa-detailed-damage">{{to_number_string(row.real_dmg_no_crit)}}
          </td>
          <td class="wuwa-detailed-damage">{{to_number_string(row.damage_no_crit)}}
          </td>
          <td class="wuwa-detailed-damage">{{to_number_string(row.real_dmg_crit)}}
          </td>
          <td class="wuwa-detailed-damage">{{to_number_string(row.damage_crit)}}</td>
        </tr>
      </table>
    </div>
    {% endif %}
    {% if row.buffs|length > 0 %}
    <div class="wuwa-flex-row wuwa-margin-bottom-8 wuwa-philippine-gray">
      {{_(ZhTwEnum.BUFF)}}
    </div>
    <div class="wuwa-flex-row wuwa-margin-bottom-8">
      <table class="wuwa-detailed-damage">
        <tr>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.BUFF_NAME)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.BUFF_TYPE)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.BUFF_VALUE)}}</td>
        </tr>
        {% for buff in row.buffs %}
        <tr>
          <td class="wuwa-detailed-damage">{{buff.name}}</td>
          <td class="wuwa-detailed-damage">{{buff.type}}</td>
          <td class="wuwa-detailed-damage">{{buff.value}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
    {% if row.skill_id %}
    <div class="wuwa-flex-row wuwa-margin-bottom-8 wuwa-philippine-gray">
      {{_(ZhTwEnum.CALCULATE)}}
    </div>
    <div class="wuwa-flex-row wuwa-margin-bottom-8 wuwa-detailed-damage-row-block">
      <table class="wuwa-detailed-damage">
        <tr>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REGION_BASE_ATTR)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REGION_SKILL_DMG)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REGION_MAGNIFIER)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REGION_AMPLIFIER)}}</td>
        </tr>
        <tr>
          <td class="wuwa-detailed-damage">{% if row.result_skill_base_attribute==SkillBaseAttrEnum.ATK.value %}
            [{{to_trimmed_number_string(row.result_atk)}} × (1 + {{to_trimmed_number_string(row.result_atk_p)}}) +
            {{to_trimmed_number_string(row.result_atk_addition)}}]
            {% elif row.result_skill_base_attribute==SkillBaseAttrEnum.DEF.value %}
            [{{to_trimmed_number_string(row.result_def)}} × (1 + {{to_trimmed_number_string(row.result_def_p)}}) +
            {{to_trimmed_number_string(row.result_def_addition)}}]
            {% elif row.result_skill_base_attribute==SkillBaseAttrEnum.HP.value %}
            [{{to_trimmed_number_string(row.result_hp)}} × (1 + {{to_trimmed_number_string(row.result_hp_p)}}) +
            {{to_trimmed_number_string(row.result_hp_addition)}}]
            {% endif %}</td>
          <td class="wuwa-detailed-damage">
            ×
            {% if row.resonator_skill_dmg_addition %}
            ({{to_trimmed_number_string(row.resonator_skill_dmg)}} +
            {{to_trimmed_number_string(row.resonator_skill_dmg_addition)}})
            {% else %}
            {{to_trimmed_number_string(row.resonator_skill_dmg)}}
            {% endif %}
          </td>
          <td class="wuwa-detailed-damage">
            ×
            {% if row.result_magnifier %}
            (1 + {{to_trimmed_number_string(row.result_magnifier)}})
            {% else %}
            1
            {% endif %}
          </td>
          <td class="wuwa-detailed-damage">
            ×
            {% if row.result_amplifier %}
            (1 + {{to_trimmed_number_string(row.result_amplifier)}})
            {% else %}
            1
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <div class="wuwa-flex-row wuwa-margin-bottom-8 wuwa-detailed-damage-row-block">
      <table class="wuwa-detailed-damage">
        <tr>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REGION_BONUS)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REGION_CRIT)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REGION_DEF)}}</td>
          <td class="wuwa-detailed-damage wuwa-border-bottom-rgb-40-40-40">{{_(ZhTwEnum.REGION_RES)}}</td>
        </tr>
        <tr>
          <td class="wuwa-detailed-damage">
            ×
            {% if row.result_bonus %}
            (1 + {{to_trimmed_number_string(row.result_bonus)}})
            {% else %}
            1
            {% endif %}
          </td>
          <td class="wuwa-detailed-damage">
            ×
            {{to_trimmed_number_string(row.result_crit_dmg)}}
          </td>
          <td class="wuwa-detailed-damage">
            ×
            <div class="wuwa-detailed-damage-frac">
              <span>800 + 8 × {{to_trimmed_number_string(row.resonator_level)}}</span>
              <span class="symbol">/</span>
              <span class="bottom">800 + 8 × {{to_trimmed_number_string(row.resonator_level)}} + [792 + (8 ×
                {{to_trimmed_number_string(row.monster_level)}})]
                {% if row.result_ignore_def %}
                × (1 - {{to_trimmed_number_string(row.result_ignore_def)}})
                {% endif %}
              </span>
            </div>
          </td>
          <td class="wuwa-detailed-damage">
            ×
            {% if row.result_reduce_res %}
            (1 - {{to_trimmed_number_string(row.monster_res)}} + {{to_trimmed_number_string(row.result_reduce_res)}})
            {% else %}
            (1 - {{to_trimmed_number_string(row.monster_res)}})
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>