# {{_(ZhTwEnum.ECHO_DAMAGE_COMPARISON)}}

<div class="wuwa-container">
  <div class="wuwa-flex-col">
    <div class="wuwa-barh">
      <div class="wuwa-flex-col">
        {% for damage_distribution in damage_distributions %}
        {% for resonator_damage_distribution in damage_distribution.resonators.values() %}
        {% set resonator_id = resonator_damage_distribution.resonator_id %}
        {% set resonator_name = resonator_damage_distribution.resonator_name %}
        {% set resonator_model = resonator_models[resonator_id] %}
        <div class="wuwa-barh-row wuwa-h100">
          <div class="wuwa-barh-resonator-icon">
            <img src="{{resonator_models[resonator_id].resonator_src}}" />
          </div>
          <div class="wuwa-flex-col wuwa-h100p wuwa-w100p">
            <div class="wuwa-barh-title">
              <div class="wuwa-barh-resonator-id wuwa-fs5">
                <a
                  href="#{{resonator_damage_distribution.resonator_id}}">{{resonator_damage_distribution.resonator_id}}</a>
              </div>
              <div class="wuwa-barh-template-info wuwa-fs5">{{_(ZhTwEnum.TEMPLATE_ID)}}:
                {{damage_distribution.template_id}}
              </div>
              <div class="wuwa-barh-template-info wuwa-fs5">{{_(ZhTwEnum.MONSTER_ID)}}:
                {{damage_distribution.monster_id}}</div>
            </div>
            <div class="wuwa-barh-damage-container">
              {% set element = resonator_model.element_en %}
              {% set percentage = resonator_damage_distribution.damage / base_damage %}
              {% set in_out = 0.5 %}
              {% set black_elements = ['aero', 'spectro'] %}
              <div class="wuwa-barh-damage wuwa-h30 wuwa-barh-corner wuwa-h40 wuwa-bg-{{element}}"
                style="width: {{get_percentage_str(damage_distribution.resonators[resonator_name].damage, base_damage)}};">
                {% if percentage >= in_out %}
                <div class="wuwa-barh-damage-value-in {{'wuwa-black' if element in black_elements else 'wuwa-white'}}">
                  {{to_number_string(resonator_damage_distribution.damage)}}
                  ({{get_percentage_str(resonator_damage_distribution.damage, base_damage)}})
                </div>
                {% else %}
                &nbsp;
                {% endif %}
              </div>
              {% if percentage < in_out %} <div class="wuwa-barh-damage-value-out">
                {{to_number_string(resonator_damage_distribution.damage)}}
                ({{get_percentage_str(resonator_damage_distribution.damage, base_damage)}})
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
</div>

{% for resonator_id in resonator_ids %}
{% set resonator_model = resonator_models[resonator_id] %}

<h2 id="{{resonator_id}}">{{resonator_id}}</h2>
<div class="wuwa-container">
  <div class="wuwa-resonator-info-title">
    <div class="wuwa-resonator-info-row-cell">
      <img class="wuwa-resonator-info-icon" src="{{resonator_model.resonator_src}}" />
    </div>
    <div class="wuwa-resonator-info-row-cell wuwa-resonator-info-row-cell-padding">
      <div class="wuwa-resonator-info">{{resonator_model.name}}</div>
      <img class="wuwa-resonator-info-icon" src="{{resonator_model.element_src}}" />
      <div class="wuwa-resonator-info">{{resonator_model.element}}</div>
    </div>
    <div class="wuwa-resonator-info-row-cell wuwa-resonator-info-row-cell-padding">
      <div class="wuwa-resonator-info">{{_(ZhTwEnum.CHAIN)}} {{resonator_model.chain}}</div>
    </div>
    <div class="wuwa-resonator-info-row-cell wuwa-resonator-info-row-cell-padding">
      <div class="wuwa-resonator-info">{{resonator_model.weapon_name}}</div>
      <div class="wuwa-resonator-info">
        LV{{resonator_model.weapon_level}}&nbsp;&nbsp;{{_(ZhTwEnum.TUNE)}} {{resonator_model.weapon_rank}}
      </div>
    </div>
  </div>
  <div class="wuwa-resonator-info-table">
    <table class="wuwa wuwa-w50p wuwa-white wuwa-margin-right-12">
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.LEVEL)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.level}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HP)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.hp}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ATK)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.attack}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.DEF)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.defense}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.CRIT_RATE)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.crit_rate}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.CRIT_DMG)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.crit_dmg}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ENERGY_REGEN)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.energy_regen}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.RESONANCE_SKILL_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">
          {{resonator_model.resonance_skill_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.BASIC_ATTACK_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.basic_attack_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HEAVY_ATTACK_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.heavy_attack_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.RESONANCE_LIBERATION_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">
          {{resonator_model.resonance_liberation_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HEALING_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.healing_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.PHYSICAL_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.physical_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.GLACIO_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.glacio_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.FUSION_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.fusion_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ELECTRO_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.electro_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.AERO_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.aero_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.SPECTRO_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.spectro_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HAVOC_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.havoc_dmg_bonus}}</td>
      </tr>
    </table>
    <table class="wuwa wuwa-w50p wuwa-white">
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.PHYSICAL_DMG_RES)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.physical_dmg_res}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.GLACIO_DMG_RES)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.glacio_dmg_res}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.FUSION_DMG_RES)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.fusion_dmg_res}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ELECTRO_DMG_RES)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.electro_dmg_res}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.AERO_DMG_RES)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.aero_dmg_res}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.SPECTRO_DMG_RES)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.spectro_dmg_res}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HAVOC_DMG_RES)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.havoc_dmg_res}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.NORMAL_ATTACK_LV)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.normal_attack_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.RESONANCE_SKILL_LV)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.resonance_skill_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.FORTE_CIRCUIT_LV)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.forte_circuit_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.RESONANCE_LIBERATION_LV)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.resonance_liberation_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.INTRO_SKILL_LV)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.intro_skill_lv}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.INHERENT_SKILL_1)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.inherent_skill_1}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.INHERENT_SKILL_2)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.inherent_skill_2}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>

<div class="wuwa-container">
  <div class="wuwa-resonator-info-table">
    <table class="wuwa wuwa-w50p wuwa-white wuwa-margin-right-12">
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HP)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_hp}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HP_P)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_hp_p}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ATK)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_atk}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ATK_P)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_atk_p}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.DEF)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_def}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.DEF_P)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_def_p}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.CRIT_RATE)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_crit_rate}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.CRIT_DMG)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_crit_dmg}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ENERGY_REGEN)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_energy_regen}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_1)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{template.get_echo_1(resonator_model.name)}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_1)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_sonata_1}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_2)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_sonata_2}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_3)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_sonata_3}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_4)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_sonata_4}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ECHO_SONATA_5)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_sonata_5}}</td>
      </tr>
    </table>
    <table class="wuwa wuwa-w50p wuwa-white">
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.RESONANCE_SKILL_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">
          {{resonator_model.echo_resonance_skill_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.BASIC_ATTACK_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">
          {{resonator_model.echo_basic_attack_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HEAVY_ATTACK_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">
          {{resonator_model.echo_heavy_attack_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.RESONANCE_LIBERATION_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">
          {{resonator_model.echo_resonance_liberation_dmg_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HEALING_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_healing_bonus}}</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.GLACIO_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_glacio_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.FUSION_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_fusion_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.ELECTRO_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_electro_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.AERO_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_aero_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.SPECTRO_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_spectro_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">{{_(ZhTwEnum.HAVOC_DMG_BONUS)}}</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">{{resonator_model.echo_havoc_dmg_bonus}}
        </td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
      <tr>
        <td class="wuwa wuwa-px16 wuwa-py4">&nbsp;</td>
        <td class="wuwa wuwa-px16 wuwa-py4" align="right">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>

{% endfor %}