<div class="container">
  <div class="table">
    <table class="margin-right">
      <tr>
        <td>{{_(ZhTwEnum.ECHO_1)}}</td>
        <td align="right">{{resonator.echo_1}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ECHO_SONATA_1)}}</td>
        <td align="right">{{resonator.echo_sonata_1}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ECHO_SONATA_2)}}</td>
        <td align="right">{{resonator.echo_sonata_2}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ECHO_SONATA_3)}}</td>
        <td align="right">{{resonator.echo_sonata_3}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ECHO_SONATA_4)}}</td>
        <td align="right">{{resonator.echo_sonata_4}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ECHO_SONATA_5)}}</td>
        <td align="right">{{resonator.echo_sonata_5}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
    </table>
    <table class="margin-right">
      <tr>
        <td>{{_(ZhTwEnum.HP)}}</td>
        <td align="right">{{resonator.echo_hp}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.HP_P)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_hp_p)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ATK)}}</td>
        <td align="right">{{resonator.echo_atk}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ATK_P)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_atk_p)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.DEF)}}</td>
        <td align="right">{{resonator.echo_def}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.DEF_P)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_def_p)}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
    </table>
    <table class="margin-right">
      <tr>
        <td>{{_(ZhTwEnum.CRIT_RATE)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_crit_rate)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.CRIT_DMG)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_crit_dmg)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ENERGY_REGEN)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_energy_regen)}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
    </table>
    <table class="margin-right">
      <tr>
        <td>{{_(ZhTwEnum.RESONANCE_SKILL_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_resonance_skill_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.BASIC_ATTACK_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_basic_attack_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.HEAVY_ATTACK_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_heavy_attack_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.RESONANCE_LIBERATION_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_resonance_liberation_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.HEALING_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_healing_bonus)}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
    </table>
    <table>
      <tr>
        <td>{{_(ZhTwEnum.GLACIO_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_glacio_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.FUSION_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_fusion_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.ELECTRO_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_electro_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.AERO_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_aero_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.SPECTRO_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_spectro_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>{{_(ZhTwEnum.HAVOC_DMG_BONUS)}}</td>
        <td align="right">{{to_percentage_str(resonator.echo_havoc_dmg_bonus)}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>

<style>
  body {
    color: rgb(240, 240, 240);
    width: 1900px;
  }

  div.table {
    display: flex;
    margin-top: 12px;
  }

  div.container {
    background-color: rgb(8, 12, 20);
    border-radius: 8px;
    border: 4px solid;
    color: rgb(16, 24, 40);
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 1280px;
  }

  .margin-left {
    margin-left: 12px;
  }

  .margin-right {
    margin-right: 12px;
  }

  table {
    border-radius: 8px;
    border-color: rgb(240, 240, 240);
    border: 2px solid;
    width: 244px;
  }

  td {
    padding: 0px 12px;
  }

  .element {
    height: 42px;
  }

  .glacio {
    color: rgb(72, 172, 252);
  }

  .fusion {
    color: rgb(248, 116, 76);
  }

  .electro {
    color: rgb(184, 108, 252);
  }

  .aero {
    color: rgb(88, 252, 180);
  }

  .spectro {
    color: rgb(255, 228, 108);
  }

  .havoc {
    color: rgb(208, 140, 180);
  }
</style>