# Tier

## {{_(ZhTwEnum.ECHO_CONFIGURATION)}}

- [{{_(ZhTwEnum.ECHOES_THEORY_1)}}]({{TIER_THEORY_1_URL}})
- [{{_(ZhTwEnum.ECHOES_HALF_BUILT_ATK)}}]({{TIER_HALF_BUILT_ATK_URL}})
- [{{_(ZhTwEnum.ECHOES_HALF_BUILT_SKILL_BONUS)}}]({{TIER_HALF_BUILT_SKILL_BONUS_URL}})