# Tier

## {{_(ZhTwEnum.ECHO_CONFIGURATION)}}

- [{{_(ZhTwEnum.ECHOES_AFFIXES_15_1)}}]({{TIER_AFFIXES_15_1_URL}})
- [{{_(ZhTwEnum.ECHOES_AFFIXES_20_SMALL)}}]({{TIER_AFFIXES_20_SMALL_URL}})
- [{{_(ZhTwEnum.ECHOES_AFFIXES_20_SKILL_BONUS)}}]({{TIER_AFFIXES_20_SKILL_BONUS_URL}})